/**
 * The main stylesheet for this app
 */


body {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: var(--color-white);
  font-size: 1.1em;
  font-weight: 600;
  transition: color .4s;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

li a:hover {
  background-color: var(--color-greenh3);
}

ul {
  padding: 0;
}

/**
 * Header
 */

.header {
  padding-top: 0px;
  padding-bottom: 0px;
}

/**
 * Navigation
 */

nav {
  background-color: var(--color-lightblue);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav .logo {
  background-image: url(../images/logo.png);
  width: 167px;
  height: 60px;
  background-size: 167px 60px;
  background-repeat: no-repeat;
}

nav ul {
  width: 100%;
  list-style-type: none;
}

nav ul li {
  margin: 0 0 40px 0;
  padding: 0;
  text-align: center;
}

.nav-links {
  display: none;
}

.nav-links.toggled {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background-color: var(--color-lightgreen);
}

@media (min-width: 768px) {
  .nav-links {
    display: block;
  }
  nav ul {
    display:flex;
  }
  nav ul a {
    margin-right: 0px;
    padding-right: 1  5px;
  }
  nav ul li {
    margin-bottom: 0;
  }
  
}

/**
 * Navigation Toggle
 */

.nav-toggler {
  display: inline-block;
  cursor: pointer;
  z-index: 1;
}

@media (min-width: 768px) {
  .nav-toggler {
    display: none;
  }
}

.nav-toggler .bar1,
.nav-toggler .bar2,
.nav-toggler .bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--color-darkblue);
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */

.toggled .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px) ;
  background-color: white;
}

/* Fade out the second bar */

.toggled .bar2 {
  opacity: 0;
}

/* Rotate last bar */

.toggled .bar3 {
  transform: rotate(45deg) translate(-8px, -8px) ;
  background-color: white;
}

/**
 * Webpagina's
 */

/**
 * Homapagina
 */

.bannerafbeelding{
  object-fit: cover;
  width: 100%;
  height: 600px;
  object-position: center bottom;
}

.bannerafbeelding:hover{
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
  width: 100%;
}

.projecten img{
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 1.5rem;
  margin-bottom: 0.5rem;
}

/**
 * Webshop
 */

.keuze img{
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.keuze{
  margin-bottom: 12rem;
}

/* Webshop zwemgelegenheden / accessoires */

.list img{
  width: 100%;
  height: 14rem;
  object-fit: cover;
  border-radius: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  object-position: center bottom;
}

.list1 img{
  width: 100%;
  height: 14rem;
  object-fit: cover;
  border-radius: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.list{
  margin-bottom: 7.4rem;
}

/**
 * Detail
 */

.detail img{
  width: 100%;
  height: 350px;
  border-radius: 1rem;
  object-fit: cover;
}

.detail{
  display: flex;
  margin-top: 6rem;
}

.detail2 img{
  width: 100%;
  height: 100px;
  border-radius: 1rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
  object-fit: cover;
}

.titel-inbegrepen{
  background-color: var(--color-greenh3);
  border-radius: 0.5rem;
  color: white;
  margin-left: 27rem;
  margin-right: 27rem;
  margin-bottom: -3rem;
  margin-top: 4rem;
  position: relative;
}

.titel-inbegrepen p{
  color: white;
  font-size: 1.5rem;
  padding: 0.7rem;
  text-align: center;
  font-weight: 600;
}

.inbegrepen{
  background-color: #D7DCB2;
  border-radius: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  align-content: center;
}

.inbegrepen p{
  margin-left: 1rem;
}

.inbegrepen svg{
  margin-left: 3rem;
  margin-top: 1rem;
}

rect{
  fill: #583D1D;
}

.opsomming{
  display: flex;
  flex-direction: row;
  margin-top: -1rem;
}

.opsomming:first-child{
  margin-top: 0.8rem
}

/**
 * Configuratie
 */

.confp input{
  border-radius: 0.5rem;
  height: 2rem;
  width: 6rem;
  margin-left: 1rem;
  padding-left: 1rem;
}

.afmetingen{
  text-align: center;
}

.dot1{
  height: 40px;
  width: 40px;
  background-color: #56DEF3;
  border-radius: 50%;
  display: inline-block;
  margin: 0.5rem;
}

.dot2{
  height: 40px;
  width: 40px;
  background-color: #4E4E4E;
  border-radius: 50%;
  display: inline-block;
  margin: 0.5rem;
}

.dot3{
  height: 40px;
  width: 40px;
  background-color: #F5F5F5;
  border-radius: 50%;
  display: inline-block;
  margin: 0.5rem;
}
.dot4{
  height: 40px;
  width: 40px;
  background-color: #0078AE;
  border-radius: 50%;
  display: inline-block;
  margin: 0.5rem;
}
.dot5{
  height: 40px;
  width: 40px;
  background-color: #00F8BD;
  border-radius: 50%;
  display: inline-block;
  margin: 0.5rem;
}

.dot1:hover, .dot2:hover, .dot3:hover, .dot4:hover, .dot5:hover{
  box-shadow: 3px 5px var(--color-lightblue);
}

.kleurtjes, .keuze-conf{
  text-align: center;
}

.keuze-conf select{
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 4rem;
}

/**
 * Realisaties
 */

.afbeeldingen-rea img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 0.8rem;
  margin-top: 1rem;
}

/**
 * Contact
 */

.container .contactformulier {
  background-color: #F2F2F2;
  border-radius: 1.5rem;
}

.contactformulier input{
  border: none;
  border-bottom: 1px solid var(--color-lightgreen);
  font-size: 1.5rem;
  width: 400px;
  background-color: #F2F2F2;
}

.contactformulier p :last-child{
  margin-bottom: 0.5rem;
}

.contactformulier{
  text-align: center;
  padding-bottom: 2rem;
}

.contactafb{
  background: url(../images/photo-1560747571-79f71076f92f.jpg) no-repeat center bottom fixed;
  background-size: cover;
}

.contactformulier p i{
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: var(--color-greenh3);
}

.contactformulier .knop{
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 4rem;
}

.container-contact{
  display: flex;
  background-color: var(--color-lightblue);
  margin-top: 9.8rem;
  padding: 1rem;
  padding-left: 6rem;

}

.container-contact i{
  color: var(--color-darkblue);
  font-size: 1.5rem;
  margin-right: 2rem;
}

.container-contact p{
  color:white;
}

/**
 * Footer
 */

footer{
  display: flex;
  flex-direction: row;
  background-color: var(--color-darkblue);
  margin-top: 2rem;
}

.contactfooter{
  display: flex;
  flex-direction: row;
  background-color: var(--color-darkblue);
  margin-top: 0rem;
}

/**
 * Algemeen
 */

/* Afbeeldingen hovers */

img:hover{
  -webkit-transform: scale(1.3);
  transform: scale(1.03);
  width: 100%;
}

/* Buttons */

button{
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  background-color: #B9D0DE;
  color: white;
  font-weight: 500;
  border: 1px solid #79A4BE;
}

button:hover{
  background-color: var(--color-greenh3);
}

.knop{
  text-align: center;
  margin-bottom: 5rem;
}
